@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap);

html {
  background-color: #0d0d0d;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  color: white;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
