$fontFamily: 'Montserrat', sans-serif;

$backgroundColorPrimary: #0d0d0d;
$backgroundColorSecondary: #090912;

$blue: #5638d7;
$darkGray: #222233;
$magenta: #9e1263;
$purple: #9a00c3;

$buttonPrimaryGradient: linear-gradient(90deg, $purple, $blue);
$buttonSecondaryGradient: linear-gradient(90deg, $magenta, $purple);
